body {
  background-color: #FFF5E1;
  font-family: 'Sorts Mill Goudy', serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ADEBFF;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

/*Header*/
.header {
  text-align: center;
}

h1 {
  font-size: 400%;
  margin: 0;
  padding: 0;
}

.small {
  font-size: 55%;
}

h2 {
  margin-top: 0;
  padding-top: 0;
}

strong {
  font-family: arial, sans-serif;
  font-size: 25px;
}

/*Navigation*/

.navlist {
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline;
  margin: 10px;
}

/*columns*/

.section {
  padding-top: 30px;
  clear: both;
}

.columns {
  list-style-type: none;
}

.columns li {
  width: 33.33%;
  float: left;
  text-align: center;
  display: block;
  margin: 0;
}

.columns img {
  max-width: 100%;
  height: auto;
}

.footer {
  clear: both;
}
