body {
  background-color: #ADEBFF;
}

p {

}

/*header*/
.header {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline;
  margin: 10px;
}

/*columns*/

.panda {

}

.lion {

}

.fox {

}
