body {
  background-color: #ADEBFF;
}

p {

}

/*header*/
.header {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.navlist {
  list-style-type: none;
  text-align: center;
}

ul li {
  display: inline;
  margin: 10px;
}

/*columns*/

.plf {
  list-style-type: none;
}

.videos {
  border: 2px solid red;
}
